{% extends "template.html" %}
{% block conteudo %}
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container px-5">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='imgs/avaliaqui.png') }}" width="20%">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ usuario[1] }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_for('deslogar') }}">Sair</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show text-center mx-5 mt-5" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="row mx-5">
        <div class="col-md-4 my-5">
            <h5 class="text-center text-white text-white"><i class="fas fa-medal medalha-prata"></i></h5>
            <h5 class="text-center text-white mb-4">2º Lugar</h5>
            <div class="card text-center card-prata" style="width: 100%;">
                <div class="card-body">
                  <p class="card-text">{{ top3[1][0] }}</p>
                  <p class="card-text">MÉDIA: {{ top3[1][1] }} - VOTOS: {{ top3[1][2] }}</p>
                  <p class="card-text">PONTUAÇÃO: {{ top3[1][3] }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 my-5">
            <h5 class="text-center text-white text-warning"><i class="fas fa-crown"></i></h5>
            <h5 class="text-center text-white mb-4">1º Lugar</h5>
            <div class="card text-center card-ouro" style="width: 100%;">
                <div class="card-body">
                  <p class="card-text">{{ top3[0][0] }}</p>
                  <p class="card-text">MÉDIA: {{ top3[0][1] }} - VOTOS: {{ top3[0][2] }}</p>
                  <p class="card-text">PONTUAÇÃO: {{ top3[0][3] }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 my-5">
            <h5 class="text-center text-white text-white"><i class="fas fa-medal medalha-bronze"></i></h5>
            <h5 class="text-center text-white mb-4">3º Lugar</h5>
            <div class="card text-center card-bronze" style="width: 100%;">
                <div class="card-body">
                  <p class="card-text">{{ top3[2][0] }}</p>
                  <p class="card-text">MÉDIA: {{ top3[2][1] }} - VOTOS: {{ top3[2][2] }}</p>
                  <p class="card-text">PONTUAÇÃO: {{ top3[2][3] }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="input-group">
        <input type="text" class="form-control form-control-lg mx-5" id="inputFiltro" placeholder="Pesquisar professor">
    </div>
    <div class="row mx-5 my-3 py-2 th-tabela text-white">
        <div class="col-md-8">Professores</div>
        <div class="col-md-2 text-center">Nota Geral</div>
        <div class="col-md-2 text-center">Nº Avaliações</div>
    </div>
    {% for professor in professores %}
        <a>
            <div class="row mx-5 my-3 py-4 td-tabela" id="docente" onclick="location.href = '{{ url_for('professor', id_usuario=usuario[0], id_professor=professor[0]) }}';">
                <div class="col-md-8">
                    <a id="nomeDocente">
                        {{ professor[1] }}
                    </a>
                </div>
                <div class="col-md-2 text-center">
                    {% if professor[2] == 'Não Avaliado' %}
                        Não Avaliado
                    {% else %}
                        <i class="fas fa-star text-warning"></i> {{ professor[2] }}
                    {% endif %}
                </div>
                <div class="col-md-2 text-center">
                    {% if professor[2] == 'Não Avaliado' %}
                        0
                    {% else %}
                        {{ professor[3] }}
                    {% endif %}
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}